@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");

:root {
	font-family: "Teko", sans-serif;
	color: snow;
}

body {
	background: rgb(17, 17, 17);
	background: linear-gradient(
		100deg,
		rgba(17, 17, 17, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
}

h1.epic-title {
	font-size: 1400%;
	animation: slide-title-in 3s linear;
	animation-fill-mode: forwards;
}
h2.epic-description {
	opacity: 0%;
	font-size: 300%;
	color: #27344e;
	animation: slide-title-in 2s linear 3.5s;
	animation-fill-mode: forwards;
}

a {
	text-decoration: none;
	color: #fb6149;
}

.spark {
	position: absolute;
}

div.center-parent {
	text-align: center;
}

footer {
	font-family: sans-serif;

	bottom: 0;
	position: absolute;
	left: 47%;
}
footer a {
	color: #090909;
	font-size: 125%;
	animation: sneaky-herzmut 1s linear 6s;
	animation-fill-mode: forwards;
}

@keyframes slide-title-in {
	from {
		transform: rotateY(30deg);
		opacity: 0%;
		filter: blur(30px);
	}
	to {
		transform: rotateY(0deg);
		opacity: 100%;
	}
}

@keyframes sneaky-herzmut {
	to {
		color: #5d000083;
	}
}

@media (max-width: 1400px) {
	h1.epic-title {
		font-size: 1000%;
	}
}

@media (max-width: 670px) {
	h1.epic-title {
		font-size: 750%;
	}
}

@media (max-width: 670px) {
	h1.epic-title {
		font-size: 500%;
	}
}
